@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');
:root{
    --mainBG: rgb(215, 208, 220);
    --formBG: rgb(255, 255, 255);
    --inputBG: rgba(107, 67, 138, 0.1);
    --submitBG: rgb(131, 103, 152);
    --submitHoverBG: rgb(65, 25, 95);
    --mainFont: 'Poppins', sans-serif;
    --mainText: black;
    --redText: rgb(189, 6, 6);
    --redHighlight: rgba(171, 51, 51, .3);
    --greenText: rgb(0, 75, 0);
    --greenHighlight: rgba(15, 148, 15, .3);
    --submitHoverText: white; 
    --editIcon: rgb(13, 248, 13);
    --deleteIcon: rgb(182, 0, 0);
    --themeDotBorder: 2px solid black;
    --boxShadow: 9px 7px 11px 0px rgba(0,0,0,0.49);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--mainFont);
    font-weight: 400;
    color: var(--mainFont);
}

body{
    background-color: var(--mainBG);
}

.main-section{
    background-color: var(--formBG);
    margin: 10rem auto;
    padding: 2rem;
    width: 40rem;
    box-shadow: var(--boxShadow);
    border-radius: .4rem;
}

#alert{
    text-align: center;
    width: 15rem;
}

#form h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

#form .form-control{
    margin: 0 auto;
    display: flex;
    background-color: var(--inputBG);
    border-radius: .4rem;
}

#new-list-item{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: .3rem;
}

#submit-btn{
    padding: .3rem;
    border: none;
    border-radius: 0 .4rem .4rem 0;
    background-color: var(--submitBG);
}

#clear-btn{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    margin: 2rem auto;
    margin-bottom: 0;
    display: flex;
    color: var(--redText);
}